* {
    padding: 0;
    margin: 0;
}

/* Cabeçalho */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
   
}

.cabecalho img {
    width: 100px;
}


.cabecalho  {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px;
   background: black;
}

.navbar {
    display: flex;
    gap: 25px;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    font-weight: 545;
    font-size: 18px;
    text-decoration: none;
}

.nav-item a:hover {
    color: red;
    transition: 0.3s;
}




/* Conteúdo */
#conteudo1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

#conteudo-principal-escrito {
    margin-top: 100px;
    width: 600px;
}

#conteudo-principal-escrito h1 {
    margin-bottom: 20px;
    color: red;
}

.imagem-lateral {
    width: 400px;
    margin-top: 150px;
    filter: brightness(60%);
}

.menu {
    color: white;
    width: 40px;
    height: 40px;
}


/*Conteúdo 2*/

#conteudo2 {
    background: black;
}

#conteudo2 h2 {
    color: white;
}


#atores {
    color: white;
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 1050px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
}

#atores .atores-informacoes {
    padding: 24px;
}

.atores-informacoes img {
    border-radius: 8px;
}



/*Responsividade*/
@media (max-width: 600px) {
    #conteudo-principal-escrito {
        width: 400px;
        margin-top: 150px;
    }

    .imagem-lateral {
        display: none;
    }

    .cabecalho {
        display: block;
        text-align: center;
    }

    .navbar {
        width: 230px;
        margin: 0 auto;
        margin-top: 10px;
    }


}

@media (max-width: 768px)  {
    #conteudo-principal-escrito {
        width: 350px;
    }

    .imagem-lateral {
        width: 300px;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

@media (max-width: 414px)  {
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }

}

@media (max-width: 820px) {
    #conteudo-principal-escrito {
        width: 350px;
    }

    .imagem-lateral {
        width: 300px;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

@media (max-width: 414px)  {
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
 }

 @media (max-width: 920px) {
    #conteudo-principal-escrito {
        width: 350px;
    }

    .imagem-lateral {
        width: 300px;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}



 @media (max-width: 280px) {
    #conteudo-principal-escrito {
        width: 200px;
        color: red;
    }

    .imagem-lateral {
        display: none;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}



 @media (max-width: 1024px) {
    #conteudo-principal-escrito {
        width: 450px;
    }

    .imagem-lateral {
        width: 300px;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}



 @media (max-width: 375px) {
    #conteudo-principal-escrito {
        width: 300px;
        margin-top: 150px;
    }

    .imagem-lateral {
        display: none;
    }
    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}



@media (max-width: 390px) {
    #conteudo-principal-escrito {
        width: 300px;
        margin-top: 150px;
    }

    .imagem-lateral {
        display: none;
    }

    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}




@media (max-width: 360px) {
    #conteudo-principal-escrito {
        width: 310px;
        margin-top: 150px;
    }

    .imagem-lateral {
        display: none;
    }

    #atores {
        width: 300px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}



@media (max-width: 414px)  {
    #atores {
        width: 350px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .imagem-lateral {
        width: 250px;
    }

    #atores {
        width: 700px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

@media (max-width: 912px) {
    .imagem-lateral {
        width: 250px;
    }

    #atores {
        width: 850px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .imagem-lateral {
        width: 250px;
    }

    #atores {
        width: 480px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

@media (max-width: 280px) {
    #conteudo-principal-escrito {
        color: black;
        width: 700px;
    }
    .imagem-lateral {
        width: 250px;
    }

    #atores {
        width: 200px;
    }

    .atores-informacoes img {
        width: 100px;
        margin-bottom: 10px;
    }

    #conteudo-principal-escrito  {
        padding: 30px;
        margin-bottom: 20px;
    }

    #conteudo2 h2 {
        display: inline-block;
        margin: 10px; 
        font-size: 20px;
    }
}

/*Pincipais atores*/
